@page "/auth"

@using Microsoft.AspNetCore.Authorization

@*Only admins authenticated*@
@*
@attribute [Authorize(Roles ="Admin")]
@rendermode InteractiveWebAssembly
*@

<PageTitle>Auth</PageTitle>

<h1>You are authenticated!</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
